#main-body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;
	overflow-y: scroll;
}
/*
*/
#user{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
	height: 10vh;
	width: 85vw;
}
#userName{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 5vh;
	border-width: 1px;
}
/*
*/
#scanner_container{
	min-width: 85vw;
	margin-top: 3vh;
}
#qr-reader{
	width: 100%;
	border-width: 0;
}
/*
*/
#Report{
	display: grid;
	margin-top: 3vh;
	width: 80vw;
	padding: 0;
}
.cells{
	display: flex;
	align-items: center;
	width: 100%;
	height: 10vh;
	margin: 0;
	padding: 1vh;
	font-size: 2.5vh;
	overflow-x: scroll;
	scrollbar-width: none;
}
#remove{
	cursor: pointer;
	position: absolute;
	font-size: 2vh;
	margin-top: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	height: 3vh;
	width: 30vw;
	border-radius: 50px;
}
#submit{
	cursor: pointer;
	position: absolute;
	right: 10vw;
	font-size: 2vh;
	margin-top: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
	height: 3vh;
	width: 30vw;
	border-radius: 50px;
}
#error{
	float: left;
	font-size: 2vh;
	margin-top: 1.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(200,200,200);
	width: 78vw;
	border-radius: 50px;
	word-wrap: break-word;
	padding-left: 1vw;
	padding-right: 1vw;
	object-fit: contain;
}